:root {
    --light: #ffffff;
    --theme: rgb(213, 201, 185);
    --dark: black;
}

/* Universal Selector */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Element Selectors */
body {
    background-color: var(--light);
}

header {
    background-color: var(--theme);
    border-bottom: 10px solid var(--dark);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--light);
    padding: 20px;
}

header nav {
    display: flex;
    padding: 10px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header ul li {
    display: inline-block;
    margin-left: 30px;
}

nav a {
    color: var(--light);
    font-weight: bold;
}

figure {
    position: relative;
    width: 100%;
    border: 7px solid var(--theme);
}

figcaption {
    background-color: var(--theme);
    padding: 10px;
    position: absolute;
    bottom: 90px;
}

/* Class Selectors */
.container {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-bottom: 100px;
    margin: 50px auto 0px auto;
    width: 100%;
    gap: 40px;
}

.about-me,
.work,
.contact-me {
    color: var(--dark);
    font-size: 20px;
    text-align: end;
    padding-right: 15px;
}

.description {
    margin-top: 50px;
    margin-right: 50px;
}

.example1 {
    grid-area: example1;
}
.example2 {
    grid-area: example2;
}
.example3 {
    grid-area: example3;
}
.example4 {
    grid-area: example4;
}
.example5 {
    grid-area: example5;
}

.example1 figcaption {
    bottom: 130px;
}

ul.bottomNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style-type: none;
}

.bottomNav a {
    display: inline-block;
    color: var(--theme);
    font-size: 20px;
    padding: 10px;
}

.profile {
    float: left;
    border: groove var(--theme);
    border-width: 10px;
    border-radius: 100%;
    margin-right: 30px;
}

/* id selectors */
#projects {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 314px 214px 214px;
    grid-template-areas: 
        "example1 example1"
        "example2 example3"
        "example4 example5";
    gap: 20px 30px;
}

#projects a {
    color: var(--dark);
    text-decoration: none;
}

#projects img {
    object-fit: cover;
    width: 100%;
}

/* Media Queries */
@media screen and (max-width: 900px) {
    header {
    background-color: var(--theme);
    border-bottom: 10px solid var(--dark);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--light);
    padding: 0;
}
    header nav {
    display: flex;
    padding: 0;
    margin: 0 auto;
    float: right;
    font-size: 20px;
}
    header ul li {
    display: flex;
    justify-content: space-evenly;
}
    .container {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
}
    .about-me,
    .work,
    .contact-me {
        display: flex;
        justify-content: center;
    }
    ul.bottomNav {
    flex-direction: column;
    align-items: center;
}
    #projects {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 310px 210px 210px 210px 210px;
    grid-template-areas: 
        "example1"
        "example2"
        "example3"
        "example4"
        "example5";
}
}